<launch>
  <arg name="mserver_ip" 		default="192.168.50.157" />
  <arg name="mserver_port" 		default="1883" />

  <param name="mqtt_ip" type="string" value="$(arg mserver_ip)" />
  <param name="mqtt_port" type="int" value="$(arg mserver_port)" />

  <node name="temiDriver" pkg="temi_driver" type="temiDriver.py" />
  <node name="temiImageDriver" pkg="temi_driver" type="temiImageDriver.py" />
  <node name="temiMap" pkg="temi_driver" type="temiMap.py" />
  <node name="temiTf" pkg="temi_driver" type="tfPub.py" />
</launch>
